# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [8]:
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
#Load CSV file as DataFrame
city_data = pd.read_csv("../WeatherPy/cities.csv")
city_data.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
0,0,caxito,-8.5785,13.6643,73.81,99,87,2.57,AO,1650681029
1,1,manggar,-2.8833,108.2667,86.92,66,47,7.72,ID,1650681029
2,2,mahebourg,-20.4081,57.7000,75.49,64,40,11.50,MU,1650681030
3,3,fortuna,40.5982,-124.1573,55.65,82,0,11.50,US,1650681030
4,4,thompson,55.7435,-97.8558,33.96,60,40,0.00,CA,1650681030
5,5,atuona,-9.8000,-139.0333,79.05,73,29,14.38,PF,1650681031
6,6,ilulissat,69.2167,-51.1000,24.82,80,75,0.00,GL,1650681031
7,7,nemuro,43.3236,145.5750,46.47,75,99,23.00,JP,1650681031
8,8,kulhudhuffushi,6.6221,73.0700,83.79,70,100,4.29,MV,1650681032
9,9,abapo,-18.8333,-63.4667,66.24,84,0,2.73,BO,1650681032

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
#Set Humidity as Weight
humidity = city_data["Humidity"].astype(float)
maxhumidity = humidity.max()

#Set Lat and Lng as Locations
locations = city_data[["Lat", "Lng"]]

In [11]:
#Plot Map
fig = gmaps.figure()

#Add Heat Layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)

#Show Map
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#Save Map as PNG
plt.savefig("heatmap.png")

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
#Narrow Cities to Reflect Conditions
narrowed_cities = city_data.loc[(city_data["Max Temp"] > 70) & (city_data["Max Temp"] < 80) & (city_data["Cloudiness"] == 0), :]

#Drop Null Values
narrowed_cities = narrowed_cities.dropna(how='any')
narrowed_cities.reset_index(inplace=True)

#Show DataFrame
narrowed_cities.head(10)

,index,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
0,26,26,busselton,-33.6500,115.3333,70.83,42,0,12.80,AU,1650681038
1,53,53,aswan,24.0934,32.9070,72.12,18,0,9.93,EG,1650681047
2,61,61,ilhabela,-23.7781,-45.3581,72.66,82,0,5.57,BR,1650681045
3,77,77,vila velha,-20.3297,-40.2925,76.95,79,0,3.44,BR,1650680780
4,86,86,sao sebastiao,-23.7600,-45.4097,71.98,82,0,5.68,BR,1650681059
5,126,126,geraldton,-28.7667,114.6000,77.41,33,0,23.02,AU,1650681073
6,138,138,jiexiu,37.0244,111.9125,75.58,20,0,11.79,CN,1650681076
7,219,219,iquitos,-3.7481,-73.2472,75.24,100,0,2.30,PE,1650681104
8,244,244,arraial do cabo,-22.9661,-42.0278,75.97,87,0,8.23,BR,1650681112
9,245,245,chalmette,29.9427,-89.9634,72.00,77,0,10.36,US,1650681113

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
#Create Empty List for Hotels
hotel_df = []

#Begin For Loop to Find Hotels
for i in range(len(narrowed_cities)):
    lat = narrowed_cities.loc[i]['Lat']
    lng = narrowed_cities.loc[i]['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotel_df.append(jsn['results'][0]['name'])
    except:
        hotel_df.append("")
        
#Create DataFrame        
narrowed_cities["Hotel Name"] = hotel_df

#Drop Null Values
narrowed_cities = narrowed_cities.dropna(how='any')

#Show DataFrame
narrowed_cities.head(10)

,index,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date,Hotel Name
0,26,26,busselton,-33.6500,115.3333,70.83,42,0,12.80,AU,1650681038,Busselton
1,53,53,aswan,24.0934,32.9070,72.12,18,0,9.93,EG,1650681047,Aswan
2,61,61,ilhabela,-23.7781,-45.3581,72.66,82,0,5.57,BR,1650681045,Ilhabela
3,77,77,vila velha,-20.3297,-40.2925,76.95,79,0,3.44,BR,1650680780,Vila Velha
4,86,86,sao sebastiao,-23.7600,-45.4097,71.98,82,0,5.68,BR,1650681059,Caraguatatuba
5,126,126,geraldton,-28.7667,114.6000,77.41,33,0,23.02,AU,1650681073,Geraldton
6,138,138,jiexiu,37.0244,111.9125,75.58,20,0,11.79,CN,1650681076,Jinzhong
7,219,219,iquitos,-3.7481,-73.2472,75.24,100,0,2.30,PE,1650681104,Iquitos
8,244,244,arraial do cabo,-22.9661,-42.0278,75.97,87,0,8.23,BR,1650681112,Cabo Frio
9,245,245,chalmette,29.9427,-89.9634,72.00,77,0,10.36,US,1650681113,New Orleans

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_cities.iterrows()]
locations = narrowed_cities[["Lat", "Lng"]]

In [18]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
#Save Map as PNG
plt.savefig("map_hotel.png")